<%- include ./partials/header %>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>
    <div>
        <% posts.forEach(function(blogPost){ %>
            <h1><%= blogPost.title %></h1>
            <p>
                <%= blogPost.body.substring(0,100) + "..." %>
                <a href="posts/<%= blogPost.title %>"> Read more </a>
            </p>
            
                <% }); %>
    </div>
    <%- include ./partials/footer %>